@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lobster&display=swap');
html::-webkit-scrollbar{
    display: none;
}
 /* Hide scrollbar for IE, Edge and Firefox */
html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}
body{
    background-color: #131313;
    color: yellow;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
label{
    white-space: nowrap;
}
header{
    justify-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
}
#pages{
    width: 50px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.book-card{
    border: 3px dashed yellow;
    padding: 10px;
    margin: 10px;
}

#book-grid{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}